.pagination .page-item {
    display: inline;
    margin: 0 5px;
}

.pagination .page-link {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #561c24;
    border: 1px solid #561c24;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination .page-link:hover {
    background-color: #ffaf45;
}

.pagination .page-link svg {
    width: 14px; /* Adjust icon size */
    height: 14px;
    vertical-align: middle;
}
