* {
    font-family: "Montserrat", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
:root {
    --primary-color: #561C24;
    --secondary-color: #FFAF45;
    --panel-color: #FFF;
    --panel-color2: #FEFBF6;
    --text-color: #000;
    --text-color1: #333;
    --text-color2: #fff;
    --text-color3: #999;
    --text-color4: #f5f5f5;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --title-icon-color: #fff;

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
.container {
    display: flex;
    height: 100vh;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px 48px 0px 32px;
}
header {
    text-align: center;
}
header hr {
    margin-top: 10px;
    border: 1px solid #b1b1b1;
}
main .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top img{
    height: 32px;
    position: relative;
    left: -8px;
}
.bell-icon {
    font-size: 24px;
    margin-right: 8px;
    color: #333;
    cursor: pointer;
}
.bell-icon:hover {
    color: var(--primary-color);
}

.header-buttons-search{
    display: flex;
    justify-content: space-between;
}
.header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-buttons button {
    padding: 10px 20px;
    background-color: var(--text-color3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header-buttons button:hover {
    background-color: var(--primary-color);
}
.header-buttons button i{
    display: none;
}
.header-buttons .current-tab{
    font-weight: bold;
    scale: 1.15;
    margin: 0 8px;
    background-color: var(--primary-color);
}

#showForumLists{
    padding: 10px 20px;
    background-color: var(--text-color3);
    color: var(--panel-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    }
    #showForumLists:hover{
        background-color: var(--primary-color);
    }   


.content-wrapper {
    display: flex;
    gap: 20px;
}
.forum-left {
    flex: 1;
    margin-bottom: 1rem;
}
.forum-overview{
    margin: 1rem 0;
    border: 1px solid #ddd;
    background-color: var(--panel-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.transitioner{
    margin: 0.5rem 1rem;
    opacity: 40%;
}
.forum-section {
    padding: 16px 24px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forum-active{
    display: flex;
}
.join-button{
    padding: 10px 20px;
    background-color: var(--text-color3);
    color: var(--panel-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    position: relative;
    top: -40px;
}
.joined-button {
    background-color: var(--primary-color);
}
.join-button:hover {
    background-color: var(--secondary-color);
}

.forum-invitations-wrapper {
    width: 300px;
    transition: all 0.3s ease;
}
.forum-invitations {
    background-color: var(--panel-color);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 44rem; 
    overflow-y: auto;
    position: relative;
    top: -40px;
}

.forum-ttl{
    display: flex;
    justify-content: space-between;
}

.forum-ttl i{
    position: relative;
    top: -1.25rem;
    cursor: pointer;
    left: .5rem;
}

.forum-invitations h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: var(--primary-color);
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.search-bar input {
    width: 240px;
    padding: 10px 10px 10px 32px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.search-bar i{
    position: absolute;
    margin-left: 8px;
}

.forum-link{
    text-decoration: none;
    color: var(--text-color1);
}

.forum{
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    cursor: pointer;
}
.forum img{
    display: none;
}
.forum-status{
    display: flex;
    justify-content: end;
}
.forum-status span{
    padding: 8px;
}
.forum-head{
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

.forum-pagination {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.forum-list{
    display: flex;
    justify-content: center;
}

.circle {
    width: 150px;
    height: 150px;
    margin: .25rem 1rem 0 0;
    text-align: center;
  }
  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
  }

  .forum-name .circle {
    width: 125px;
    height: 125px;
    margin-right: 20px;
}
.forum-name .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.forum-name .forum-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.forum-details h2{
    margin: 1rem 0 0 0;
    color: var(--text-color1);
}
.forum-details h2:hover{
    color: var(--primary-color);
}
.forum-details p:nth-child(2){
    margin: 0;
    font-weight: 600;
    color: var(--text-color3);
}
.forum-name h2 {
    margin: 0 0 10px 0;
}
.forum-name p {
    margin: 0;
}


.create-post{
    background-color: var(--panel-color);
    border: 1px solid #ddd;
    padding: 20px;
    margin: 0px 360px .5rem 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .create-post form{
        display: flex;
    }
    .create-post img{
        margin-right: .5rem;
    }
    .create-post textarea{
        width: 100%;
        padding: .5rem;
        margin-right: .5rem;
        border-radius: 5px;
        min-height: 32px;
        height: 32px;
        resize: vertical;
    }
    .create-post label i{
        margin-right: 0.5rem;
        font-size: 3rem;
        top: 0;
        color: var(--text-color3);
        transition: ease-in-out;
    }
    .create-post label i:hover{
        color: var(--primary-color);
    }
    .create-post button{
        padding: 0 .75rem;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        background-color: var(--primary-color);
}

.search-forum{
    display: flex;
    background-color: var(--panel-color);
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .search-ttl{
        display: flex;
        flex-direction: column;
        margin-right: .5rem;
    }
    .search-forum label{
        font-weight: 600;
        color: var(--primary-color);
        margin: 0;
    }
    .search-forum label:nth-child(1){
        font-size: 1.25rem;
        font-weight: 700;
    }
    .search-forum input{
        width: 100%;
        padding: .25rem .5rem;
        margin-right: .5rem;
        border-radius: 5px;
        min-height: 32px;
        height: 32px;
        border: 1px solid var(--text-color3);
    }
    .search-forum button{
        padding: 0 .75rem;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        background-color: var(--primary-color);
}

.posts-btn{
    display: flex;
    justify-content: space-between;
    margin: 0 360px .5rem 300px;
}

.filter-btn select{
    padding: 8px 24px;
    border-radius: 5px;
    color: var(--text-color1);
    border: 2px solid #ddd;
    background-color: transparent;
    font-weight: 600;
}

.search-btn input{
    width: 20rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.search-btn button{
    padding: .6rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: var(--primary-color);
}


@media (min-width: 1025px) and (max-width: 1500px) {
    .search-btn input{
        width: 12rem;
    }
}


@media (min-width: 577px) and (max-width: 1024px) {
    .forum-invitations-wrapper{
        display: none;
    }
    .forum-left .create-post{
        margin: .5rem 12rem;
    }
    .posts-btn{
        margin: 0 12rem .5rem 12rem;
    }
    .search-btn input{
        width: 12rem;
    }
}


@media (max-width: 576px) {
    .content-wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .forum-invitations-wrapper{
        display: none;
        /* width: 100%; */
    }
    .forum-invitations {
        width: 84%;
        overflow-y: hidden;
        position: absolute;
        top: 80px;
        margin: auto;
    }
    .forum-invitations .search-bar input {
        width: 100%;
    }
    .forum-overview{
        margin: .5rem 0 0 0;
    }
    .forum-left .search-forum{
        margin: 0;
    }
    .forum-left .create-post{
        margin: .5rem 0;
    }
    .posts-btn{
        margin: 0 0 .5rem 0;
    }
    .search-btn form input{
        width: 16rem;
    }
    .search-btn form button{
        display: none;
    }
}