*{
    font-family: "Montserrat", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
:root{
    --primary-color: #561C24;
    --secondary-color: #FFAF45;
    --panel-color: #FFF;
    --text-color: #000;
    --text-color1: #333;
    --text-color2: #fff;
    --text-color3: #999;
    --text-color4: #f5f5f5;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --title-icon-color: #fff;
    
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

.container {
    display: flex;
    height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px 48px 0px 32px;
}
header {
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2em;
    color: var(--primary-color);
}
.header-top img{
    height: 32px;
    position: relative;
    left: -8px;
}
header hr {
    margin-top: 10px;
    border: 1px solid #b1b1b1;
}
.header-buttons-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-buttons button {
    padding: 10px 20px;
    background-color: var(--text-color3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header-buttons button:hover {
    background-color: var(--primary-color);
}
.header-buttons button i{
    display: none;
}
.header-buttons .current-tab{
    font-weight: bold;
    scale: 1.15;
    margin: 0 8px;
    background-color: var(--primary-color);
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.search-bar input {
    width: 450px;
    padding: 10px 10px 10px 32px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.search-bar i {
    position: absolute;
    left: .5rem;
    top: .6rem;
    color: var(--primary-color);
}
.search-bar button{
    padding: .6rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: var(--primary-color);
}

.notification {
    margin-left: 10px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bell-icon {
    font-size: 24px;
    margin-right: 8px;
    color: #333;
    cursor: pointer;
}
.bell-icon:hover {
    color: var(--primary-color);
}


.leaderboards-header{
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    margin: 1rem 0 .5rem 0;
}
.leaderboards-header i{
    font-size: 2rem;
    margin: .25rem .5rem 0 0;
}
.leaderboards-header h1{
    margin: 0;
}

.leaderboards-ttl{
    display: flex;
}
.leaderboards-chart button{
    padding: .6rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--text-color3);
    transition: var(--tran-03);
}
.leaderboards-chart button:hover{
    background-color: var(--primary-color);
}

.leaderboards-content{
    display: flex;
    flex: wrap;
    justify-content: space-between;
    background-color: #ffffff00;
    border: 1px solid #ddd;
    padding: .5rem;
    margin: 0 0 .5rem 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center; 
    cursor: pointer;
    transition: var(--tran-05);
    color: var(--text-color1);
}
.leaderboards-content:hover{
    scale: 1.01;
}

.leaderboards-content:nth-child(2){
    background: linear-gradient(135deg, #F3C623, #F5D547, #E0B821);
    color: #8B6508;
}
.leaderboards-content:nth-child(3){
    background: linear-gradient(135deg, #C0C0C0, #D3D3D3, #A9A9A9);
    color: #686D76;
}
.leaderboards-content:nth-child(4){
    background: linear-gradient(135deg, #CD7F32, #D8A285, #A97142);
    color: #654520;
}

.leaderboards-content .rank{
    font-weight: 600;
    margin-left: 1rem;
}
.leaderboards-content .lawyer-user{
    font-weight: 600;
    margin-left: 1rem;
}
.lawyer-user a{
    text-decoration: none;
    color: var(--text-color1);
}

.badgeModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.badgeModal-content {
    margin: 15% auto; 
    width: 24rem;
    border-radius: .25rem;
    background-color: #ffffff;
    padding: 1rem 1rem 0 3rem;
}

.badgeModal-close {
    position: relative;
    right: -.5rem;
    top: -.5rem;
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: var(--tran-03);
}

.badgeList table{
    width: 100%;
    text-align: left;
    position: relative;
    top: -1rem;
}
.badgeList table th{
    color: var(--primary-color);
    font-size: 1.25rem;
}
.badgeList table td:first-child{
    font-weight: 500;
}
.badgeList img{
    width: 3rem;
}

.badgeModal-close:hover,
.badgeModal-close:focus {
    cursor: pointer;
    scale: 1.1;
}


@media (min-width: 576px) and (max-width: 1024px) {
}


@media (max-width: 576px) {
    .leaderboards-header {
        margin: 0 0 .5rem 0;
    }
}