* {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
:root {
    --primary-color: #561c24;
    --secondary-color: #ffaf45;
    --panel-color: #fff;
    --text-color: #000;
    --text-color1: #333;
    --text-color2: #fff;
    --text-color3: #999;
    --text-color4: #f5f5f5;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #ddd;
    --title-icon-color: #fff;

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px 48px 0px 32px;
}
header {
    text-align: center;
    padding-bottom: 10px;
}
header h1 {
    margin: 0;
    font-size: 2em;
    color: var(--primary-color);
}
.header-top img {
    height: 32px;
    position: relative;
    left: -8px;
}
header hr {
    margin-top: 10px;
    border: 1px solid #b1b1b1;
}

.search-form{
    margin-bottom: 1rem;
}
.search-bar {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}
.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: .5rem;
}
.search-bar button {
    padding: .6rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: var(--primary-color);
}

.search-bar button:hover {
    background-color: var(--secondary-color);
}

.notification {
    margin-left: 10px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bell-icon {
    font-size: 24px;
    margin-right: 8px;
    color: #333;
    cursor: pointer;
}
.bell-icon:hover {
    color: var(--primary-color);
}





.resources-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.resources-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.resources-table th {
    /* background-color: var(--primary-color); */
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    text-align: left;
}
.resources-table td:last-child {
    text-align: center;
}

.resources-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Download button styling */
.btn-download {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.btn-download:hover {
    color: var(--secondary-color);
}

/* Pagination styling */
.paginationContent {
    text-align: center;
}

.pagination {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.pagination .page-item {
    display: inline;
    margin: 0 5px;
}

.pagination .page-item a {
    padding: 8px 12px;
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination .page-item.active a {
    background-color: var(--primary-color);
    color: white;
}

.pagination .page-item.disabled a {
    color: #ccc;
}
