body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: auto;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px 48px 0px 32px;
}

.dashboard-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    text-align: center;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

.header-top {
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.header-top img {
    height: 32px;
    position: relative;
    left: -8px;
}

header hr {
    margin-top: 10px;
    border: 1px solid #b1b1b1;
}

.header-line {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
}

.header-ttl {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-container {
    display: flex;
    flex-direction: column;
}

.filter-container h1 {
    margin: 0;
    color: var(--primary-color);
}

.filter-btn {
    display: flex;
}

.filter-btn button {
    padding: 5px 10px;
    border: none;
    background-color: #561c24;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px;
    transition: background-color 0.3s ease;
}

.filter-btn button:hover {
    background-color: #ffaf45;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.custom-button,
.view-btn {
    background-color: #561c24;
    color: white;
    border: 1px solid #561c24;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.custom-button:hover,
.view-btn:hover {
    background-color: #ffaf45;
}

.action-btn {
    background-color: #561c24;
    color: white;
    border: 1px solid #561c24;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.action-btn:hover {
    background-color: #ffaf45;
}

input[type='text'][name='lead-content'] {
    width: 96%;
}

/* Center the badges horizontally and vertically */
td.rank {
    text-align: center;
    vertical-align: middle;
}

/* Adjust the size of the badge if necessary */
td.rank img {
    width: 50px;
    height: auto;
}

/* Customize the select dropdown */
.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f8f9fa;
    border: 2px solid #ddd;
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    position: relative;
}

/* Custom dropdown arrow */
.form-control::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Add hover and focus effects */
.form-control:hover {
    border-color: #888;
}

.form-control:focus {
    outline: none;
    border-color: #561c24;
}

/* Close button */
.close-button,
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    transition: background-color 0.3s ease;
}

.close-button:hover,
.close-modal:hover {
    color: black;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    main {
        margin: 0;
        padding: 10px;
    }

    .custom-button,
    .view-btn {
        padding: 8px 10px;
        font-size: 0.9rem;
    }

    .header-top img {
        height: 24px;
    }
}

/* Extra Small Devices */
@media (max-width: 576px) {
    .header-line {
        flex-direction: column;
    }

    .search-bar {
        flex-direction: column;
    }

    .search-bar input {
        width: 100%;
    }

    td.rank img {
        width: 30px;
    }
}
