body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px 48px 0px 32px;
}
header {
    text-align: center;
    padding-bottom: 10px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top img{
    height: 32px;
    position: relative;
    left: -8px;
}
header hr {
    margin-top: 10px;
    border: 1px solid #b1b1b1;
}
.header-line {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
}
.header-ttl {
    display: flex;
    align-items: center;
    gap: 10px;
}


.filter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filter-btn {
    display: flex;
    gap: 10px;
}
.filter-btn button {
    padding: 10px 20px;
    border: none;
    background-color: #999;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px;
}
.filter-btn button:hover {
    background-color: #333333;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin: 2px;
}

#editButton {
    margin-left: auto;
}

.add-container{
    display: flex;
    justify-content: end;
    margin-right: 2px;
}
#addButton{
    padding: 10px 22px;
}


.custom-button {
    background-color: #999;
    color: white;
    border: 1px solid #ccc;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #333333;
}
.delete-button{
    background-color: red;
    color: white;
    border: 1px solid #ccc;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.delete-button:hover {
    background-color: rgb(174, 0, 0);
}
