body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0px 48px 0px 32px;
}
header {
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2em;
    color: var(--primary-color);
}
.header-top {
    text-align: center;
    background-color: #fff;
}

.header-top img {
    margin: 0 auto;
    display: block;
}

.header-top img {
    height: 32px;
    position: relative;
}
header hr {
    border: 1px solid #b1b1b1;
}

.filter-btn {
    display: flex;
    gap: 10px;
}
.filter-btn button {
    border: none;
    background-color: #999;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.filter-btn button:hover {
    background-color: #333333;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.custom-button,
#filterButton,
#addButton,
.view-button {
    background-color: #561c24;
    margin: 5px;
    border: 1px solid #ffffff;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.custom-button:hover,
#filterButton:hover,
#addButton:hover,
.view-button:hover {
    background-color: #ffaf45; /* Darken on hover */
}
