body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px 48px 0px 32px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: var(--primary-color);
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top img {
    height: 32px;
    position: relative;
    left: -8px;
}
header hr {
    margin-top: 10px;
    border: 1px solid #b1b1b1;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}
.search-bar input {
    width: 450px;
    padding: 10px 10px 10px 32px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.search-bar i {
    position: absolute;
    left: 8px;
    color: var(--primary-color);
}

.filter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1rem;
}

#filterButton {
    width: 10%;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

#addForumButton {
    margin-left: auto;
}

.custom-button {
    background-color: #b0b0b0;
    border: 1px solid #ccc;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease;
}
.custom-button:hover {
    background-color: #a0a0a0;
}
.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;
}
.input-group input {
    width: 100%;
    padding: 10px 10px 10px 32px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.input-group i {
    position: absolute;
    left: 8px;
    color: var(--primary-color);
}
.form-group,
#editName,
#editDesc,
#editMembers {
    width: 98%;
}

.btn-info,
.btn-success,
.btn-primary,
.btn-danger {
    background-color: #b0b0b0;
    border: 1px solid #ccc;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.form-control {
    width: 98%;
    margin: 10px;
}

.boxes-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Space between rows */
}

.boxes-row .box {
    flex: 1 1 calc(33.33% - 20px); /* Each box takes 1/3 of the row */
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 20px 0;
    background-color: #f75757;
    transition: var(--tran-05);
}

.box i {
    font-size: 35px;
    color: #f6f5f2;
}

/* Text inside boxes */
.box .text {
    font-size: 1rem;
    font-weight: 600;
    color: #f6f5f2;
}

/* Number inside boxes */
.box .number {
    font-size: 2rem;
    font-weight: 400;
    color: #f6f5f2;
    text-decoration: none;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
    .boxes-row .box {
        flex: 1 1 calc(50% - 20px); /* 2 boxes per row on smaller screens */
    }
}

@media (max-width: 500px) {
    .boxes-row .box {
        flex: 1 1 100%; /* Single box per row on very small screens */
    }
}
.boxes .box.box2 {
    background-color: #ca8d31;
}
.boxes .box.box3 {
    background-color: #1ed5db;
}
.boxes .box.box4 {
    background-color: #27af62;
}
.boxes .box.box5 {
    background-color: #3b83a7;
}
.boxes .box.box6 {
    background-color: #a62ac5;
}
