.posts .post-info h2 a:hover, .posts a:hover{
    color: var(--primary-color);
}
.posts .post-content {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px 20px 8px 20px;
    margin: 0px 360px 16px 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.posts .post-content .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.posts .user-info{
    display: flex;
}
.posts .user-profile-photo {
    object-fit: cover;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.posts .name-follow{
    display: flex;
    cursor: pointer;
}
.posts .name-follow label{
    padding-left: 0.5rem;
}
.posts .name-follow button{
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}
.posts .post-header .post-info h2, .posts .post-header .post-info a{
    margin: 0;
    font-size: 1rem;
    color: var(--text-color1);
    text-decoration: none;
}
.post-info label{
    color: #666;
}
.post-info p{
    margin: 0;
    color: var(--text-color3);
    font-size: .75rem;
}
.post-content hr{
    margin-bottom: .5rem;
    opacity: 50%;
}
.posts .post-content .post-header .post-options {
    font-size: 1.5em;
    position: relative;
    top: -16px;
    color: #aaa;
    cursor: pointer;
}

.options{
    display: none;
    position: absolute;
    right: 16px;
    bottom: 8px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.options a{
    font-size: 1rem;
    text-decoration: none;
}
.options .btn-delete{
    background: none;
    border: none;
    padding: none;
    font-size: 1rem;
    color: red;
    cursor: pointer;
}

.posts .post-text{
    margin: .75rem 0 1rem 0;
    display: flex;
    flex-direction: column;
}
.posts .post-text p{
    margin: 0 0 .5rem 0;
    color: var(--text-color1);
}
.posts .post-text a{
    padding: .25rem .5rem;
    border: 1px solid #ddd;
    border-radius: .75rem;
    color: var(--text-color3);
    background-color: #ddd;
    text-decoration: none;
    font-size: .75rem;
    transition: var(--tran-03);
}
.posts .post-text a:hover{
    font-size: .8rem;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: #ddd;
}
.posts .post-text img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
    /* max-height: 20rem; */
    border-radius: 5px;
    margin-top: 10px;
}

.posts .post-content .actions {
    display: flex;
    justify-content: space-around;
}

.posts .post-content .actions button {
    padding: 10px;
    background-color: transparent;
    color: var(--text-color3);
    /* color: #666; */
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: var(--tran-05);
}
.posts .post-content .actions .btn-hitted, 
.posts .post-content .actions .btn-bookmarked, 
.clicked-post-content .actions .btn-hitted, 
.clicked-post-content .actions .btn-bookmarked {
    color: var(--primary-color);
    font-weight: 800;
}
.posts .post-content .actions button i {
    margin-right: 8px;
    font-size: 20px;
    position: relative;
    top: -.25px;
}
.posts .post-content .actions button:hover {
    color: var(--primary-color);
    scale: 1.1;
}

.new-post {
    position: fixed;
    bottom: 32px;
    right: 32px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    transition: var(--tran-05);
}
.new-post i {
    font-size: 32px;
}
.new-post:hover{
    scale: 1.25;
}

.post-modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}
.post-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}
.post-header{
    display: flex;
}
.post-modal-info{
    margin-left: 8px;
}
.post-modal-info h2, .post-modal-info p{
    margin: 0;
    font-size: 16px;
}
.post-modal-info p{
    color: var(--text-color3);
}
.post-modal-content .post-profile-pic {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 10%;
}
.post-modal-text{
    margin-right: 16px;
}

.post-modal-text textarea {
    width: 100%;
    height: 160px;
    max-height: auto;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    outline: none;
    padding: 8px 8px 8px 8px;
}

.post-modal-expertise{  
    display: flex;
    justify-content: space-between;
    color: var(--text-color3);
    margin-bottom: .5rem;
}
.post-modal-expertise select{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: .5rem;
}

.post-modal-photo{
    display: flex;
    width: fit-content;
    flex-direction: column;
}
.post-modal-photo img{
    max-width: 100px;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.post-modal-photo button{
    position: absolute;
    left: 100px;
    font-weight: bold;
    font-size: 1rem;
    color: red; 
    background: none; 
    border: none; 
    cursor: pointer;
    transition: var(--tran-03);
}
.post-modal-photo button:hover{
    scale: 1.5;
}
.post-modal-footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.custom-file-upload {
    cursor: pointer;
    font-size: 24px;
    color: #333;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload i {
    font-size: 40px;
    position: relative;
    top: -4px;
}

.custom-file-upload:hover {
    color: var(--primary-color);
}

.post-modal-footer input[type="file"] {
    justify-self: start;
    max-width: 100%;
}
.post-modal-footer p{
    font-size: 12px;
    color: var(--text-color1);
    margin: 0 auto;
    max-width: 80%;
}
.post-button {
    justify-self: end;
    padding: 8px 16px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.post-button:hover {
    background-color: var(--primary-color);
}
.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Open Comments Modal*/
/* Modal container */
.comment-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Always on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    overflow: auto; 
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Show modal */
.comment-modal.show {
    display: flex; /* Show modal */
}

.comment-modal a, .comment-section a{
    text-decoration: none;
    color: var(--text-color1);
}

/* Modal content box */
.clicked-post-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: modalFadeIn 0.3s ease-in-out;
    max-height: 80vh; /* Make sure modal content fits within the viewport */
    overflow-y: auto; /* Scrollable content if too tall */
}

/* Fade-in animation */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Styling for modal content separators */
.clicked-post-content hr {
    margin-bottom: .25rem;
    opacity: 50%;
}


/* User info section */
.user-info {
    display: flex;
    align-items: center;
}
.clicked-post-header img, .user-profile-photo, .comment-field img{
    object-fit: cover;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.clicked-post-info h2 {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.clicked-post-info label {
    margin: 0;
    font-size: 1rem;
    color: #666;
}
.clicked-post-info p{
    margin: 0;
    color: var(--text-color3);
    font-size: .75rem;
}

.clicked-post-options {
    position: absolute;
    top: 10px;
    right: 15px;
}

.clicked-post-options .options {
    display: none; /* Hide options by default */
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.clicked-post-options i {
    cursor: pointer;
    font-size: 18px;
}

.clicked-post-options:hover .options {
    display: block;
}

/* Post content */
.clicked-post-text p{
    margin: .5rem 0 0 0;
    font-size: 16px;
    color: #333;
}
.clicked-post-text img {
    object-fit: cover;
    max-width: 160px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

/* Action buttons (Hit, Comment, Bookmark) */
.clicked-post-content .actions {
    display: flex;
    justify-content: space-around;
}

.clicked-post-content .actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
}

.clicked-post-content .actions button i {
    margin-right: 5px;
}

.clicked-post-content .actions button:nth-child(2) {
    color: var(--primary-color);
    font-weight: 800;
}

.clicked-post-content .actions button:hover {
    color: var(--primary-color);
}
.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}


/* Comment CSS */
.comment-area{
    display: flex;
    flex-direction: column;
    max-height: 520px;
    overflow: auto;
}

.user-comment{
    display: flex;
    margin-top: .5rem;
}
.user-comment-content{
    margin-bottom: .25rem;
    padding: .25rem;
    border-radius: 5px;
    background-color: #eee;
    width: 100%;
}
.user-comment-content p {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}
.user-comment-content span{
    display: flex;
    justify-content: space-between;
}
.user-comment-content span i{
    margin: .1rem .25rem 0 0;
    cursor: pointer;
    font-size: 1.25rem;
    transition: ease-in-out;
}
.user-comment-content span i:hover{
    color: gold;
}

.user-comment span{
    font-weight: bold;
}
.user-comment p{
    margin: .25rem .25rem;
}
.comment-time{
    font-size: .75rem;
    margin: .25rem .25rem;
    color: var(--text-color3);
}

.view-reply a{
    display: flex;
    justify-content: end;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--text-color3);
    cursor: pointer;
    margin-bottom: .25rem;
}

/* Reply CSS */
.user-reply{
    margin-left: 4rem;
    display: flex;
}
.user-reply-content{
    margin-bottom: .25rem;
    padding: .25rem;
    border-radius: 5px;
    background-color: #eee;
    width: 100%;
}
.user-reply span{
    font-weight: bold;
    color: var(--text-color1);
}
.user-reply p{
    margin: .25rem .25rem;
}
.comment-time{
    font-size: .75rem;
    margin: .25rem .25rem;
    color: var(--text-color3);
}


.date-reply{
    display: flex;
    justify-content: space-between;
}
.date-reply a{
    text-decoration: none;
    margin: .25rem .25rem;
    font-size: .75rem;
    cursor: pointer;
    font-weight: 600;
    color: var(--primary-color);
}

.reply-field {
    display: none;
}
.reply-field form{
    display: flex;
}
.reply-field textarea{
    width: 100%;
    height: 1rem;
    padding: .25rem;
    border-radius: 4px;
    margin-right: .25rem;
    resize: vertical;
}
.reply-field button{
    color: white;
    background-color: var(--primary-color);
    border-radius: 4px;
    border: none;
}


/* Comment Field */
.comment-warning {
    display: block;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
    margin: .25rem 0;
}
.comment-field{
    display: block;
}
.comment-field form{
    display: flex;
    margin-top: .5rem;
}
.comment-field .user-info{
    margin: 0;
}
.comment-field .user-info h4, .user-info label{
    margin: 0;
}
.comment-field form textarea{
    width: 100%;
    padding: .5rem .5rem;
    margin-right: .5rem;
    border-radius: 5px;
    resize: vertical;
}
.comment-field form button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: var(--primary-color);
}


.rate-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .rate-modal-content {
        background-color: #fff;
        border-radius: 12px;
        width: auto;
        max-height: 80vh;
        overflow-y: auto;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        position: relative;
        padding: 40px 40px 32px 40px;
}

.rate-modal-content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .rate-modal-content form h2{
        font-size: 1.5rem;
        text-align: center;
        margin: 0 0 .5rem 0;
    }

    .rate-modal-content form button{
        margin: 1rem 0 0 0;
        padding: .5rem;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        color: white;
        background-color: var(--primary-color);
}


.close-rate-modal {
    color: #333;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}


.rate-stars {
    display: flex;
    justify-content: center;
    gap: .5rem;
    }

    .fa-star {
        color: var(--text-color3);
        cursor: pointer;
        font-size: 24px;
    }

    .hovered-star {
        color: gold;
    }

    .selected-star {
        color: gold;
}

.swal-popup {
    z-index: 99999; /* Make sure this is higher than any other modals */
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vh;
    font-weight: 600;
    color: var(--text-color3);
    text-align: center;
}
.empty2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--text-color3);
    text-align: center;
}



.reportModal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black background with transparency */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal content */
.reportModal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}
.reportModal-content h2{
    text-align: center;
    color: var(--primary-color);
}

/* Close button */
.report-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.report-close:hover,
.report-close:focus {
    color: black;
    cursor: pointer;
}
#otherReason {
    width: 96%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    resize: vertical;
}

.reportModal-content button{
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--panel-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    width: 100%;
}


.conPhotoModal {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: auto;
}

.conPhotoModal-content {
    margin: 1rem auto; 
    width: 80%;
    border-radius: .25rem;
}
.conPhotoModal-content img {
    border-radius: .25rem;
}

.conPhotoModal-close {
    position: relative;
    right: 0.5rem;
    top: 2.5rem;
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: var(--tran-03);
}

.conPhotoModal-close:hover,
.conPhotoModal-close:focus {
    cursor: pointer;
    scale: 1.1;
}



@media (min-width: 576px) and (max-width: 1024px) {
    .posts .post-content {
        /* margin: 0 0 .75rem 0; */
        margin: 0 12rem 0.75rem 12rem;
    }
    .conPhotoModal-content {
        margin: 1rem auto; 
        width: 90%;
        border-radius: .25rem;
    }
}


@media (max-width: 576px) {
    .posts .post-content {
        margin: 0 0 .75rem 0; /* Remove the margins */
        /* width: 100%; */
    }
    .clicked-post-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        width: 90%;
        max-width: 600px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        position: relative;
        animation: modalFadeIn 0.3s ease-in-out;
        max-height: 90vh; /* Make sure modal content fits within the viewport */
        overflow-y: auto; /* Scrollable content if too tall */
    }
    .conPhotoModal-content {
        margin: 1rem auto; 
        width: 90%;
        border-radius: .25rem;
    }
}
