<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawminary | Settings</title>
    <link rel="icon" href="../../imgs/lawminarylogo.png" type="image/png">
    <link rel="stylesheet" href="../../styles/settings/activity_logs_style.css">
    <link rel="stylesheet" href="../../styles/nav_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <aside>
            <div class="top-nav">
                <div class="profile">
                    <div class="user-indicator">
                        <img src="../../imgs/user-img.png" alt="Profile Picture">
                        <label>@Username</label>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="../home.html"><i class="fa-solid fa-house"></i><span>Home</span></a></li>
                        <li><a href="../search.html"><i class="fa-solid fa-magnifying-glass"></i><span>Search</span></a></li>
                        <li><a href="../resources.html"><i class="fa-solid fa-folder"></i><span>Resources</span></a></li>
                        <li><a href="../profile.html"><i class="fa-solid fa-user"></i><span>Profile</span></a></li>
                        <li>
                            <a class="current" onclick="toggleDropdown(event)"><i class="fa-solid fa-gear"></i><span>Settings</span></a>
                            <div id="settingsDropdown" class="dropdown-content">
                                <ul>
                                    <li><a href="about_lawminary.html">About Lawminary</a></li>
                                    <li><a href="about_pao.html">About PAO</a></li>
                                    <li><a href="account_settings.html">Account Settings</a></li>
                                    <li><a class="current-settings" href="activity_logs.html">Activity Logs</a></li>
                                    <li><a href="provide_feedback.html">Provide Feedback</a></li>
                                    <li><a href="tos.html">Terms of Service</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="bottom-nav">
                <a class="logout"><i class="fa-solid fa-right-from-bracket"></i><span>Log out</span></a>
            </div>
        </aside>
        <main>
            <header>
                <div class="header-top">
                    <img src="../../imgs/Lawminary_Logo_2-Gold.png" alt="Lawminary Logo">
                    <div class="notification">
                        <a href="../../frontend/notification.html"><i class="fas fa-bell bell-icon"></i></a>
                    </div>
                </div>
                <hr class="divider">
            </header>
            <content>
                <div class="logs">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Activity</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2024-06-14</td>
                                <td>Like</td>
                                <td>You liked a post by John Doe</td>
                            </tr>
                            <tr>
                                <td>2024-06-13</td>
                                <td>Comment</td>
                                <td>You commented on a post by Jane Smith</td>
                            </tr>
                            <tr>
                                <td>2024-06-12</td>
                                <td>Post</td>
                                <td>You created a new post</td>
                            </tr>
                            <tr>
                                <td>2024-06-11</td>
                                <td>Share</td>
                                <td>You shared a post by Alex Brown</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </content>
        </main>
    </div>
    <script src="../../js/settings.js"></script>
</body>
</html>
